:root {
  --mui-shape-borderRadius: 8px;
  --blue-color: #4a739c;
  --input-bg-color: #e8edf5;
  /* --bg-color: #f8fafc; */
   --bg-color: #ffffff;
  --mui-palette-divider: #e7edf4;
  --mui-palette-default-divider: #e0e0e0;
  --mui-palette-background-paper:#ffffff
}

:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: var(--bg-color);
}
